title: 'Set Level'
type: 'object'
properties:
  data:
    type: 'object'
    properties:
      id:
        type: 'number'
      level:
        type: 'number'
    required: [
      'id'
      'level'
    ]
